version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: todo-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: todo
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: todo-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "mysql://root:root@mysql:3306/todo"
      PORT: 3000
    depends_on:
      - mysql
    command: >
      sh -c "
      npx prisma migrate deploy &&
      npm start
      "

  frontend:
    build: ./frontend
    container_name: todo-frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mysql_data:
